.mainContainerCarousel {
  animation: zoom-in-zoom-out 1.5s ease forwards;
  margin-top: 90px;
  z-index: -2;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(2);
  }
  80% {
    transform: scale(0.95);
  }
}

.splideposition .splideImg {
  /* border: red solid 1px; */
  border-radius: 25px;
  transition: 0.5;
  height: 85%;
  width: 90%;
}

.splideImgBlur {
  filter: blur(5px);
  transition: 0.5s;
}

.splideImgGrab {
  cursor: grab;
}

.splideImgGrabbing {
  cursor: grabbing;
}

.bkgContainer {
  background-color: rgba(80, 88, 96, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
}

.btnContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 8px;

  min-width: 5%;
  min-height: 5%;
  top: 0px;

  background: rgba(48, 52, 56, 0.55);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 0px 0px 16px 16px;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  border: none;

  background: rgba(0, 0, 0, 0.35);
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  /* Interface/White */

  color: #ffffff;
}

.btn:hover {
  color: green;
  font-weight: bold;
  background: rgba(209, 212, 222, 1);
}

.add {
  max-height: 80px;
  margin-top: 30%;
  margin-left: 10%;
  background-color: transparent;
  border-color: transparent;
}

.add:hover {
  color: white;
}

.btnset {
  display: flex;
  justify-content: end;
}

.photoInfo {
  display: flex;
  width: 90%;
  margin-left: 1rem;
  margin-top: 2rem;
  justify-content: space-between;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 167% */

  letter-spacing: 0.5px;

  color: #ffffff;
}

.partOne {
  display: flex;
  flex-direction: column;
}
.partOneSubOne {
  display: flex;
}
.partOneSubTwo {
  margin-right: 1rem;
}
.partTwo {
  align-self: center;
  display: flex;
}

.partTwo > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 12px 16px;
  margin-right: 10px;

  background: rgba(0, 0, 0, 0.35);
  border-radius: 12px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  /* Interface/White */

  color: #ffffff;
}

.partTwo :hover {
  color: black;
  background: rgba(209, 212, 222, 1);
}

/* .splide__pagination {
  margin-top: 40%;
} */

/* .splide__pagination .splide__pagination--ltr {
  border: red solid 1px !important;
} */

.customPagination {
  z-index: 2;
  position: absolute;
  top: 100%;
}
