.bkg {
  background-color: rgba(80, 88, 96, 1);
}

@keyframes zoom-in {
  0% {
    transform: scale(0.6);
    border-radius: 25px;
  }
  80% {
    transform: scale(1);
  }
}
.mainContainerZoomAnimation {
  animation: zoom-in 1.5s ease forwards;
}

.mainContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 100%;
  max-height: 100%;
  transition: 1s ease-in-out;
  opacity: 1;
}

@keyframes changeRoom {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.mainContainerTransition {
  transition: 1s ease-in-out;
  animation: changeRoom 1.5s ease forwards;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 8px;

  min-width: 500px;
  min-height: 5%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 0px;
  background: rgba(48, 52, 56, 0.55);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px 0px 16px 16px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  border: none;

  background: rgba(0, 0, 0, 0.35);
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  /* Interface/White */

  color: #ffffff;
}

.button:hover {
  color: black;
  background: rgba(209, 212, 222, 1);
}

@media (max-width: 1200px) {
  .button {
    scale: 90%;
    margin-right: -10px;
  }
}
